doctype html
html
  ahead
    title Michaela Zeiringer
    meta name="keywords" content="template language"
    meta name="Matthias Harreither" content="author"
    meta charset="UTF-8"

    //Pure CSS viewport
    meta name="viewport" content="width=device-width, initial-scle=1"
    //Pure CSS viewport
    
    //Pure CSS stylesheet
    link href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet"
    link href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css" rel="stylesheet"
    //Pure CSS stylesheet
    link href='assets/css/main.css' rel='stylesheet' type='text/css'

    //JS
    script src="assets/lightbox/js/jquery-1.11.0.min.js"
    script src="assets/js/contact.js"
    //JS

  body onload="init()"
    header
      img.pure-img.hbild src="assets/img/banner.jpg" 


    /*Navigation*/
    .nav-main
      ul
        li.menu
          a href="#" Men&uuml
        li
          a href="index.html" Home 
        li
          a href="hochzeit.html" Hochzeiten
        li
          a href="trauer.html" Trauerfloristik
        li
          a href="allerheiligen.html" Allerheiligen
        li
          a href="weihnachten.html" Weihnachten
        li
          a href="graeber.html" Gr&aumlber
        li
          a href="contact.html" Kontakt
        li
          a href="team.html"  Team
     
    /*Content*/
    #content_contact
      h2 Kontakt
      .pure-g
        .pure-u-1.l-box
          p Michaela Zeiringer
          p Atschreithstrasse 5a
          p 3340 Waidhofen an der Ybbs
          p Telefon: 07442/52015
          p 
            'E-Mail: 
            a href="mailto:floristik_zeiringer@hotmail.com" floristik_zeiringer@hotmail.com
          p Ich freue mich, Sie persönlich in unserem Geschäft begrüßen zu dürfen.
          

        .pure-u-1.pure-u-md-1-2.l-box
          #formular
            #form-div
              form
                .form#form1 
                  .name
                    input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"placeholder="Name" id="name"
                  .email
                    input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email"
                  .text
                    textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Nachricht"
                  .submit
                    input type="button" value="SENDEN" id="button_green"
                  .ease

        .pure-u-1.pure-u-md-1-2.l-box
          .embed-container
            iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2672.6852823601535!2d14.8018961!3d47.9424711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47723072f4071c9f%3A0xd176aa70f1bb2e47!2sAtschreithstra%C3%9Fe+5a%2C+3340+Waidhofen+an+der+Ybbs!5e0!3m2!1sde!2sat!4v1429622928387' width='100%' height='450' frameborder='0' style='border:0;' 
        
        
        
    
      /*Footer*/
      footer
        .pure-g
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
            | Floristin Michaela Zeiringer
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3
            |  Atschreithstrasse 5a 3340 Waidhofen an der Ybbs 
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3 
            | Copyright &copy; 2015 
            a href="mailto:mhacoding@gmail.com" Matthias Harreither
   