/* Clearfix */
/********************************/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,100);
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/********************************/
/* Clearfix */
/*Font*/
/********************************/
/********************************/
/*Font*/
/*Body*/
/********************************/
body {
  background: white;
  height: 100vh;
  width: 100vw;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif; }

p {
  font-size: 0.875em;
  /* 14px/16 = 0.875 */ }

h1 {
  font-size: 2.5em;
  /* 40px/16 = 2.5 */ }

h2 {
  font-size: 1.875em;
  /* 30px/16 = 1.875 */ }

/********************************/
/*Body*/
header {
  margin: 0 auto;
  background: blue; }

/*Navigation*/
/********************************/
.nav-main {
  margin: 1em 0;
  margin-left: 5vw;
  /* Large devices (large desktops, 1200px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Small devices (tablets, 768px and up) */ }
  .nav-main ul {
    display: inline-block;
    overflow: hidden;
    margin-top: 20px;
    list-style: none; }
  .nav-main li {
    display: inline-block; }
  .nav-main .menu {
    display: none; }
  .nav-main a {
    color: blue;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 2vw; }
    .nav-main a:link {
      color: black; }
    .nav-main a:visited {
      color: black; }
    .nav-main a:hover {
      background: blue; }
    .nav-main a:before {
      padding-right: .5em; }
  @media only screen and (max-width: 1220px) {
    .nav-main a {
      font-size: 1.1em;
      padding: .5em 1em; } }
  @media only screen and (max-width: 1024px) {
    .nav-main a {
      font-size: 0.8em;
      padding: .5em 1em; } }
  @media (max-width: 768px) {
    .nav-main {
      margin-left: 0vw; }
      .nav-main ul {
        display: inline-block;
        vertical-align: top;
        position: relative; }
        .nav-main ul:hover li {
          display: block; }
      .nav-main li {
        display: none; }
      .nav-main .menu {
        display: block;
        position: relative; }
      .nav-main a {
        font-size: 1.0em;
        padding: .5em 1em; } }

a:link {
  color: blue; }
a:visited {
  color: blue; }
a:hover {
  color: blue; }

/********************************/
/*Navigation*/
/*Content*/
/********************************/
#content {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background: white; }
  #content .pure-u-lg-1-4 {
    overflow: hidden;
    background: red; }

/********************************/
/*Content*/
